<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Health Bot</title>
    <link href="https://hatenantstorageprod.blob.core.windows.net/public-websites/webchat/botchat.css?t=<%=ts%>" rel="stylesheet" />
    <link href="stylesheets/style.css?t=<%=ts%>" rel="stylesheet" />
    <script src="https://hatenantstorageprod.blob.core.windows.net/public-websites/webchat/botchat.js?t=<%=ts%>"></script>
    <script src="index.js?t=<%=ts%>"></script>

</head>

<body>
<div id="botContainer" style="width:100%"></div>
<script>chatRequested();</script>
</body>
</html>