html, body {
  height: 100%;
}

body {
  margin: 0;
}

#webchat {
  height: 100%;
  width: 100%;
}

#webchat [role="complementary"] ul[role="list"]::after {
  background: linear-gradient(rgba(248, 248, 248, 0), rgba(248, 248, 248, .63), #F8F8F8 40%);
  bottom: 0;
  color: #707070;
  content: 'Powered by Microsoft Azure';
  display: block;
  font-family: 'Segoe Semibold', Calibri, 'Helvetica Neue', Arial, sans-serif;
  font-size: 11px;
  padding: 15px 10px 10px;
  position: sticky;
  text-align: right;
}

.webchat__scrollToEndButton {
  bottom: 32px;
  left: 50%;
  right: unset;
  transform: translate(-50%, 0);
}
